<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
        <p>But first,turn it on from your Gmail acc</p>
        <a href="https://myaccount.google.com/lesssecureapps">
            <button>click</button>
        <a/>
        <br/>
        <br/>
		<form action="/sendmail" method="post" >
            <input type="text" name="user" placeholder="user"> </text>
            <input type="password" name="pass" placeholder="password"> </text>
            <br/>
            <input type="text" name="receivers" placeholder="receivers"> </text>
            <br/>
            <input type="text" name="subject" placeholder="subject"> </text>
            <br/>
            <input type="text" name="content" placeholder="content"> </text>
			<button type="submit">Send</button>
		</form>
	</body>
</html>
